<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="c:\ApiGatewayLog\NLog-AspNetCore2.txt">

  <!-- the targets to write to -->
  <targets>

    <target xsi:type="File" name="Trace" fileName="c:\ApiGatewayLog\Trace-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />

    <target xsi:type="File" name="Debug" fileName="c:\ApiGatewayLog\Debug-${shortdate}.log"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />

    <target xsi:type="File" name="Info" fileName="c:\ApiGatewayLog\Info-${shortdate}.log"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />

    <target xsi:type="File" name="Warn" fileName="c:\ApiGatewayLog\Warn-${shortdate}.log"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />

    <target xsi:type="File" name="Error" fileName="c:\ApiGatewayLog\Error-${shortdate}.log"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />

    <target xsi:type="File" name="Fatal" fileName="c:\ApiGatewayLog\Fatal-${shortdate}.log"
        layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}" />

  </targets>

  <rules>

    <logger name="*" minlevel="Trace" writeTo="Trace"/>

    <logger name="*" minlevel="Debug" writeTo="Debug"/>

    <logger name="*" minlevel="Info" writeTo="Info"/>

    <logger name="*" minlevel="Warn" writeTo="Warn" />

    <logger name="*" minlevel="Error" writeTo="Error"/>

    <logger name="*" minlevel="Fatal" writeTo="Fatal"/>
    
  </rules>
</nlog>